body {
	width: 960px;
}

h1 {
	float: left;
}

nav {
	float: right;
}

section {
	width: 650px;
	float: left;
}

img {
	height: 50%;
	width: 50%;
}

aside {
	width: 270px;
	float: right;
}

footer {
	text-align: center;
	width: 100%;
}

.clear {
	content: "";
	clear: both;
	display: table;
}


